@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trucks App</h1>
    <h4>Welcome!</h4>
</div>

<div class="container-fluid"><img src="images/truck.jpg" class="img-fluid mx-auto d-block"></div>
